.tree ul, .tree li, .tree ul li {
    list-style: none;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tree, .tree ul {
    margin: 5px 5px;
    padding: 0;
}

.tree ul, .tree li li {
    margin-left: 10px;
}

.hidden {
    display: none;
}
