[submodule "voltus-file"]
	path = vendor/voltus-file
	url = git://github.com/voltus/voltus-file.git 
[submodule "local-voltus-autoloader"]
	path = vendor/voltus-autoloader
	url = git://github.com/voltus/voltus-autoloader.git 
[submodule "local-voltus-pattern"]
	path = vendor/voltus-pattern
	url = git://github.com/voltus/voltus-pattern.git 
[submodule "local-voltus-slugify"]
	path = vendor/voltus-slugify
	url = git://github.com/voltus/voltus-slugify.git 
